body {
    font-family: 'Segoe UI', sans-serif;
    background: #111;
    color: #eeee;
    text-align: center;
    padding; 2rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    width: 300px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #00bfff;
    color: #000;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 2rem;
    text-align: left;
    max-width: 600px;
    margin-inline: auto;
    background: #222;
    padding: 1rem;
    border-radius: 8px;
}